/* Single nav Styles */
.single-nav ul {
    text-align: center;
}

@media screen and (min-width: 30em) {
    /* Single nav Styles */
    .single-nav ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .single-nav li {
        flex: 1 0 auto;
        text-align: center;
    }
}